<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"page","layout":{"type":"default"}} -->
<main class="wp-block-group page">
<!-- wp:group {"className":"bloc cas-hero coque bloc--vert","layout":{"type":"default"}} -->
<div class="wp-block-group bloc cas-hero coque bloc--vert">
<!-- wp:pattern {"slug":"brevard-releve/retour-realisations"} /-->

<!-- wp:post-title {"level":1,"className":"geant cas-titre"} /-->
<!-- wp:post-excerpt {"className":"cas-amorce","excerptLength":45,"moreText":""} /-->
</div>
<!-- /wp:group -->

<!-- wp:separator {"className":"vibreur vibreur--fin"} -->
<hr class="wp-block-separator vibreur vibreur--fin"/>
<!-- /wp:separator -->

<!-- wp:group {"className":"bloc","layout":{"type":"default"}} -->
<div class="wp-block-group bloc">
<!-- wp:group {"className":"coque","layout":{"type":"default"}} -->
<div class="wp-block-group coque">
<!-- wp:post-content {"layout":{"type":"default"}} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->